# <font size = 70 color = yellow> Introduzindo :
#<font color = gray>
 1. Importando as bibliotecas Pandas e Numpy para utilização de suas funções e métodos.
 2. Criação do DataFrame com a leitura do Csv com o método do pandas em uma leitura do link [Acesso do Csv](http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv) .

<font size =2 color = pink> Usarei .head() em DataFrames que ficarem longos para que haja uma melhor visualização.                   
  Para melhor se situar nesse notebook,se estiver no google colab, siga os Índices que forneci na aba de índices à esquerda dessa plataforma.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
funcionarios = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv')
funcionarios.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
0            1  solteiro  1o Grau     NaN     4.00    26      3  interior
1            2    casado  1o Grau     1.0     4.56    32     10   capital
2            3    casado  1o Grau     2.0     5.25    36      5   capital
3            4  solteiro  2o Grau     NaN     5.73    20     10     outro
4            5  solteiro  1o Grau     NaN     6.26    40      7     outro

![Queries](https://i.ibb.co/WG01Mmz/image.png)

#<Font size= 70 color = yellow> Primeira análise:
#<font size= 5 color = white>
 🧠 Coloque a coluna Funcionário como índice.
> Atualizando a variável funcionários com a nova tabela sendo a coluna "Funcionario" o índice, isso foi feito com uma função do pandas chamada "set_index" que nada mais nada menos transforma a coluna escolhida como índice da tabela. Essa função também consegue fazer multi-indexação ou indexação hierárquica somente passando o nome das colunas da tabela escolhida.

In [ ]:
funcionarios = funcionarios.set_index('Funcionario')
funcionarios.head()

            Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26      3  interior
2              casado  1o Grau     1.0     4.56    32     10   capital
3              casado  1o Grau     2.0     5.25    36      5   capital
4            solteiro  2o Grau     NaN     5.73    20     10     outro
5            solteiro  1o Grau     NaN     6.26    40      7     outro

#<Font size= 70 color = yellow> Segunda análise:


🧠 Sabendo que a coluna meses não é necessária para a análise e deve ser retirada, qual a média de idade
dos funcionários?perSabendo que a coluna meses não é necessária para a análise e deve ser retirada, qual a média de idade
dos funcionários?
> Para essa tarefa foi necessário usar o método "drop" do pandas passando como atributo a coluna que devem vir a ser excluida.

In [ ]:
funcionarios = funcionarios.drop(columns= 'Meses')
funcionarios.head()

            Est.civil     Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26  interior
2              casado  1o Grau     1.0     4.56    32   capital
3              casado  1o Grau     2.0     5.25    36   capital
4            solteiro  2o Grau     NaN     5.73    20     outro
5            solteiro  1o Grau     NaN     6.26    40     outro

#<Font size= 70 color = yellow> Terceira análise:

🧠 Dos funcionários que têm filhos, qual o número mais comum?
> Para essa tarefa foi necessário usar o método "query" do pandas para que retornasse uma tabela onde só aparecem os funcionários que possuem um valor de filhos maior que 0 e assim poderemos aplicar a função "mode" do pandas para que seja obtida a moda da quatidade de filhos dos funcionários.

In [ ]:
pd.DataFrame({'Moda Filhos':[funcionarios.query('Filhos >0')['Filhos'].mode().loc[0]]},index= ['Valor'])

       Moda Filhos
Valor          2.0

#<Font size= 70 color = yellow> Quarta análise:

🧠 Qual a média e a mediana dos salários dos funcionários?
> Nessa atividade foi usada a função de média e mediana do Pandas "mean" e "median" respectivamente e depois foram atribuidos esse valores à um dicionário para que possa ser criado um dataframe com coluna e índices só para que fique mais bonitinho e visível.

O que esses valores podem indicar?

> Podemos analisar que os valores de média e mediana são bem próximos, logo, indica que não existem valores discrepantes (outliers) na coluna "Salario" o que significa que os valores estão assimetricos em sua distribuição.

In [ ]:
medMean= pd.DataFrame({'Valor':[funcionarios['Salario'].mean().round(),funcionarios['Salario'].median()]},index = ['Media','Mediana'])
medMean

          Valor
Media    11.000
Mediana  10.165

#<Font size= 70 color = yellow> Quinta análise:

🧠 Quais são os tipos de instrução existentes?
> Será necessário pegar valores únicos da coluna "Inst" e para isso existe o método do Pandas "Unique()".
Para uma melhor visualização, vou percorrê-lo e retornar os valores que estão dentro do array.

In [ ]:
instrucoes = funcionarios['Inst'].unique()

for i,j in enumerate(instrucoes,start= 1):

  print(f'{i}: {j}\n' )

1: 1o Grau

2: 2o Grau

3: Superior

#<Font size= 70 color = yellow> Sexta análise:
🧠 Qual a média de salário e idade das pessoas casadas?
> Feito somente filtrando para que pegue as colunas "Salario" e "Anos" em que os valores da coluna "Est.civil" seja "casado" e assim retorne a média das duas colunas pedidas arredondando os valores e criando um DataFrame para melhor visualização dos dados obtidos.

In [ ]:
medias = pd.DataFrame(funcionarios[funcionarios['Est.civil'] == 'casado'][['Salario', 'Anos']].mean().round(2), columns = ['Media'])
medias

         Media
Salario  12.12
Anos     35.15

#<Font size= 70 color = yellow> Sétima análise:

🧠 Qual o funcionário que possui maior salário (informe seus atributos)?
> Aqui foi utilizado o método "loc" para localizar a linha com todos os atributos do funcionário que será retornado com a função "idxmax" para que a occorrencia máxima da coluna passada apareça e assim caia no "loc"

In [ ]:
maiorSalario = funcionarios.loc[[funcionarios['Salario'].idxmax()]]
maiorSalario

            Est.civil      Inst  Filhos  Salario  Anos    Regiao
Funcionario
36             casado  Superior     3.0     23.3    42  interior

#<Font size= 70 color = yellow> Oitava análise:
🧠 Qual o funcionário que possui menor idade (informe seus atributos)?
> Na análise anterior utilizamos o "idxmax" e agora foi a vez do "idxmin" para que retorne a primeira ocorrência do valor mínimo na coluna passada e assim retorne todos os atributos atravez do "loc".

In [ ]:
menorIdade = funcionarios.loc[[funcionarios['Anos'].idxmin()]]
menorIdade

            Est.civil     Inst  Filhos  Salario  Anos Regiao
Funcionario
4            solteiro  2o Grau     NaN     5.73    20  outro

#<Font size= 70 color = yellow> Nona análise:
🧠 Quem são os funcionários que possuem no máximo 35 anos, são da capital e tem instrução de 2o grau?
> Utilização de Multi Queries para que consiga pegar query por query as informações corretas para filtragem.

In [ ]:
filtragem = funcionarios.query('Anos <=35').query('Regiao =="capital"').query('Inst == "2o Grau"')
filtragem

            Est.civil     Inst  Filhos  Salario  Anos   Regiao
Funcionario
9              casado  2o Grau     1.0     7.59    34  capital
17             casado  2o Grau     1.0     9.77    31  capital
22           solteiro  2o Grau     NaN    11.59    34  capital
30             casado  2o Grau     2.0    15.99    35  capital

#<Font size= 70 color = yellow> Décima análise:
🧠 Faça uma correlação entre todos os atributos. (Dica: mapeie os atributos qualitativos para atributos
quantitativos. Ex: solteiro: 1, casado: 2, etc)
<font color = white>
1. Criação de funções lambda para percorrer as linhas;

2. implementação do "map" na coluna desejada passando como parâmetro a função lambda feita para aquela coluna;

3. Utilização da função "corr()" para obter a correlação ta tabela.

In [ ]:
# 1
lambEstCivil = lambda x: 1 if x == 'solteiro' else 2

lambInst = lambda x: 1 if x == '1o Grau' else 2 if x == '2o Grau' else 3

lambRegiao = lambda x: 1 if x == 'interior' else 2 if x == 'capital' else 3

In [ ]:
# 2
funcionarios['Est.civil']= funcionarios['Est.civil'].map(lambEstCvil)
funcionarios['Inst']= funcionarios['Inst'].map(lambInst)
funcionarios['Regiao'] =funcionarios['Regiao'].map(lambRegiao)

In [ ]:
# 3
funcionarios.corr()

           Filhos   Salario      Anos     Meses
Filhos   1.000000  0.358065  0.746539  0.015119
Salario  0.358065  1.000000  0.363362  0.000722
Anos     0.746539  0.363362  1.000000 -0.137757
Meses    0.015119  0.000722 -0.137757  1.000000

#<Font size= 70 color = yellow> Análises propostas por mim:
Partindo do princípio que a empresa está preocupada com a Educação de seus funcionários, farei algumas análises.

In [ ]:
funcionarios = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv').set_index('Funcionario').drop(columns= 'Meses')

## <font size = 5 color = yellow > 1 - <font size = 4 color = gray>Pesquisas apontam que diferença do salário de quem tem ensino médio para os formados no ensino superior chega a ser mais que o dobro, de acordo com os números levantados pelo Valor Econômico. As pessoas que têm graduação no currículo chegam a ganhar cerca de 4,7 mil por mês, enquanto quem não tem ganha em torno de 1,8 mil, logo, eu quis verificar se isso em nossa empresa é uma realidade e obtive os seeguintes resultados:

In [ ]:
pd.DataFrame(funcionarios['Salario'].groupby(funcionarios['Inst']).mean())

            Salario
Inst
1o Grau    7.836667
2o Grau   11.528333
Superior  16.475000

## <font size = 5 color = yellow > 2 - <font size = 4 color = gray>A empresa está querendo dar uma ajuda de custo à Educação a seus funcionários que não completaram os níveis de ensino escolares e possuem renda abaixo da média da empresa.
> Para isso é necesário saber quantos funcionários possuem somente o 1o grau de instrução e saber a média salarial da empresa para obter os seguintes resultados:

In [ ]:
mediaSalario = funcionarios['Salario'].mean()
funcionarios.query('Inst == "1o Grau"').loc[funcionarios['Salario']< funcionarios['Salario'].mean()]

            Est.civil     Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro  1o Grau     NaN     4.00    26  interior
2              casado  1o Grau     1.0     4.56    32   capital
3              casado  1o Grau     2.0     5.25    36   capital
5            solteiro  1o Grau     NaN     6.26    40     outro
6              casado  1o Grau     0.0     6.66    28  interior
7            solteiro  1o Grau     NaN     6.86    41  interior
8            solteiro  1o Grau     NaN     7.39    43   capital
12           solteiro  1o Grau     NaN     8.46    27   capital
14             casado  1o Grau     3.0     8.95    44     outro
18             casado  1o Grau     2.0     9.80    39     outro

## <font size = 5 color = yellow > 3 - <font size = 4 color = gray>A empresa dá um vale transporte com um valor de acordo com a distância em que mora da empresa, sabendo que a empresa fica no centro, quem mora no interior receberá um valor maior. A empresa quer saber quais funcionários moram no interior para calcular quantos vales dará no maior valor.

In [ ]:
funcionarios.query('Regiao == "interior"')

            Est.civil      Inst  Filhos  Salario  Anos    Regiao
Funcionario
1            solteiro   1o Grau     NaN     4.00    26  interior
6              casado   1o Grau     0.0     6.66    28  interior
7            solteiro   1o Grau     NaN     6.86    41  interior
11             casado   2o Grau     2.0     8.12    33  interior
15             casado   2o Grau     0.0     9.13    30  interior
19           solteiro  Superior     NaN    10.53    25  interior
20           solteiro   2o Grau     NaN    10.76    37  interior
25             casado   2o Grau     2.0    13.23    32  interior
28             casado   2o Grau     0.0    14.69    29  interior
29             casado   2o Grau     5.0    14.71    40  interior
32             casado   2o Grau     1.0    16.61    36  interior
36             casado  Superior     3.0    23.30    42  interior